.light-color {
    padding-left: 14px;
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.jumbotron {
    padding: 2rem 2rem;
}

.not-visible {
    display: none;
}

.fix-block {
    position: fixed;
    right: 0;
    top: 20%;
}

.alert-position {
    position: fixed;
    bottom: 50px;
    right: 50px;
}