.light-color {
    padding-left: 14px;
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.jumbotron {
    padding: 2rem 2rem;
}

.not-visible {
    display: none;
}

.fix-block {
    position: fixed;
    right: 0;
    top: 20%;
}

.alert-position {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.badge-violet {
    color: #fff;
    background-color: #661bde;
}

.badge-red {
    color: #fff;
    background-color: red;
}

.badge-green {
    color: #fff;
    background-color: green;
}

.badge-blue {
    color: #fff;
    background-color: blue;
}

.btn-violet {
    color: #fff;
    background-color: #661bde;
    border-color: #661bde;
}

.btn-violet:hover {
    color: #fff;
}

.detail-data-block {
    border: 1px solid #ccc;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}