{% extends "base.html" %}

{% block title %}
    Головна сторінка
{% endblock %}

{% block additional_script_or_css %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block alert %}
    {% if alerts %}
        <br>
        <div class="alert alert-position alert-dismissible fade show
                                        {% if alert_code == 1 %}
                                            alert-warning
                                        {% elif alert_code == 0 %}
                                            alert-danger
                                        {% endif %}
                                   " role="alert">
            {{ alerts|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block jumbotron %}
    <div class="container">
        <div class="jumbotron mt-3">
            <div class="row">
                <div class="col-md-6">
                    <h4>Останнє оновлення ({{ last_record.time }})</h4>
                    <hr>
                    <li>Стан термостату:
                        {% if last_record.thermostat_state %}
                            <span class="badge badge-success">Увімкнено</span>
                        {% else %}
                            <span class="badge badge-secondary">Вимкнено</span>
                        {% endif %}
                    </li>

                    <li>Виконувана робота:
                        {% if last_record.current_state == "1" %}
                            <span class="badge badge-danger">Нагрівання</span>
                        {% elif last_record.current_state == "2" %}
                            <span class="badge badge-primary">Охолодження</span>
                        {% else %}
                            <span class="badge badge-secondary">Не працює</span>
                        {% endif %}
                    </li>
                    <hr>
                    <li>Температура зараз:
                        <span class="badge badge-info">{{ last_record.temp }}°C</span>
                    </li>
                    <li>Встановлена температура:
                        <span class="badge badge-info">{{ last_record.set_temp }}°C</span>
                    </li>
                    <hr>
                    <li>Освітленість:
                        {% if last_record.light %}
                            <span class="badge badge-warning">{{ last_record.get_light_mode }}</span>
                        {% else %}
                            <span class="badge badge-secondary">Вимкнено</span>
                        {% endif %}
                    </li>
                    <li>
                        Інтенсивність UV [0-255]: <span class="badge badge-violet">{{ last_record.light_UV }}</span>
                    </li>
                    <li>
                        Інтенсивність R [0-255]: <span class="badge badge-red">{{ last_record.light_R }}</span>
                    </li>
                    <li>
                        Інтенсивність G [0-255]: <span class="badge badge-green">{{ last_record.light_G }}</span>
                    </li>
                    <li>
                        Інтенсивність B [0-255]: <span class="badge badge-blue">{{ last_record.light_B }}</span>
                    </li>
                    <li>Колір встановленого RGB:
                        <span class="light-color"
                              style="background-color: rgb({{ last_record.light_R }}, {{ last_record.light_G }}, {{ last_record.light_B }})"
                        >&nbsp;</span>
                    </li>
                    <hr>
                    <a class="btn btn-sm btn-primary" href="{% url "all-data" %}" role="button">Переглянути всі
                        записи</a>
                </div>

                <div class="col-md-6">
                    <h4>Діапазон даних</h4>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker_from" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                           data-target="#datetimepicker_from"/>
                                    <div class="input-group-append" data-target="#datetimepicker_from"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker_to" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                           data-target="#datetimepicker_to"/>
                                    <div class="input-group-append" data-target="#datetimepicker_to"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" checked class="form-check-input" id="to_reduce">
                        <label class="form-check-label" for="to_reduce">Зменшити кількість записів до ~60</label>
                    </div>
                    <button id="get-data-button" class="btn btn-sm btn-success">Вибрати в даному діапазоні</button>
                    <button id="clean-data-button" class="btn btn-sm btn-warning">Очистити вибране</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-container="body" data-toggle="popover"
                            data-placement="bottom" data-content="
                                Кількість записів за період: {{ all_records_number }}
                                Кількість отриманих записів: {{ got_records_number }}
                                Вибрано кожен {{ step_record }} запис
                            ">
                        Дані про вибірку
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block charts %}
    <hr>
    <div class="container">
        <div class="col-md-12">
            <div><h3>Температурний графік</h3></div>
            <canvas id="temperatureChart"></canvas>
        </div>
        <hr>
        <div class="col-md-12">
            <div><h3>Освітленість</h3></div>
            <canvas id="lightChart"></canvas>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker_from').datetimepicker({
                locale: 'ru',
                defaultDate: '{{ start_date|date:"Y-m-d H:i" }}',
                format: "DD / MM / YYYY  |  HH:mm",
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker_to').datetimepicker({
                locale: 'ru',
                defaultDate: '{{ end_date|date:"Y-m-d H:i" }}',
                format: "DD / MM / YYYY  |  HH:mm",
            });
        });
    </script>

    <script>
        var temperatureElement = document.getElementById('temperatureChart').getContext('2d');
        var temp_chart = new Chart(temperatureElement, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                datasets: [{
                    label: 'Температура по-факту',
                    {#backgroundColor: 'rgb(255, 99, 132)',#}
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                        {% for item in qset %}
                            {{ item.temp }},
                        {% endfor %}
                    ]
                }, {
                    label: 'Встановлена температура',
                    {#backgroundColor: 'rgb(255, 99, 132)',#}
                    borderColor: 'rgb(111, 34, 132)',
                    data: [
                        {% for item in qset %}
                            {{ item.set_temp }},
                        {% endfor %}
                    ]
                }],
                labels: [
                    {% for item in qset %}
                        "{{ item.time }}",
                    {% endfor %}
                ]
            },

            // Configuration options go here
            options: {
                scales: {
                    yAxes: [{
                        id: 'left-y-axis',
                        type: 'linear',
                        position: 'left',
                        scaleLabel: {
							display: true,
							labelString: 'Температура, °C'
						}
                    }],
                    xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Дата та час'
						}
					}]
                },
                elements: {
                    line: {
                        tension: 0
                    }
                }
            }
        });

    </script>
    <script>

        var lightElement = document.getElementById('lightChart').getContext('2d');
        var light_chart = new Chart(lightElement, {
			type: 'line',
			data: {
				xLabels: [
                    {% for item in qset %}
                        "{{ item.time }}",
                    {% endfor %}
                ],
				yLabels: ["RGB & UV", "RGB", "UV",  "Off"],
				datasets: [{
					label: 'Стан освітлення',
                    borderColor: 'rgb(234, 230, 29)',
					data: [
					    {% for item in qset %}
                            {% if item.light == 1 %}
                                "UV",
                            {% elif item.light == 2 %}
                                "RGB",
                            {% elif item.light == 3 %}
                                "RGB & UV",
                            {% else %}
                                "Off",
                            {% endif %}
                        {% endfor %}
                    ],
					fill: false
				}, {
                    label: 'Інтенсивність UV',
                    {#backgroundColor: 'rgb(255, 99, 132)',#}
                    borderColor: 'rgb(111, 34, 132)',
                    data: [
                        {% for item in qset %}
                            {{ item.light_UV }},
                        {% endfor %}
                    ],
                    yAxisID: 'right-y-axis',
                    fill: false
                }, {
                    label: 'Інтенсивність R',
                    borderColor: 'red',
                    data: [
                        {% for item in qset %}
                            {{ item.light_R }},
                        {% endfor %}
                    ],
                    yAxisID: 'right-y-axis',
                    fill: false
                }, {
                    label: 'Інтенсивність G',
                    borderColor: 'green',
                    data: [
                        {% for item in qset %}
                            {{ item.light_G }},
                        {% endfor %}
                    ],
                    yAxisID: 'right-y-axis',
                    fill: false
                }, {
                    label: 'Інтенсивність B',
                    borderColor: 'blue',
                    data: [
                        {% for item in qset %}
                            {{ item.light_B }},
                        {% endfor %}
                    ],
                    yAxisID: 'right-y-axis',
                    fill: false
                }]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Chart with Non Numeric Y Axis'
				},
                elements: {
                    line: {
                        tension: 0
                    }
                },
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Дата та час'
						}
					}],
					yAxes: [{
					    id: 'left-y-axis',
						type: 'category',
						position: 'left',
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Стан освітлення'
						},
						ticks: {
							reverse: true
						}
					}, {
                        id: 'right-y-axis',
                        type: 'linear',
                        position: 'right',
                        scaleLabel: {
							display: true,
							labelString: 'Інтенсивність освітленості [0-255]'
						},
                        ticks: {
                            suggestedMin: 0,
							suggestedMax: 255
						}
                    }]
				}
			}
		}
	);
    </script>
    <script>


    </script>
{% endblock %}
